<div class="container">
  <h1 class="text-center mt-3 text-warning border-bottom border-secondary">Pokemon Arena</h1>

  <div class="row vh-100">

    <div class="col-6 border-end border-secondary">
      <h2 class="text-center bg-primary text-white p-2">Player 1</h2>

      <div class="active-pokemon" id="player1-active-pokemon"></div>
      <div class="attack-text">Q to attack!</div>


      <div class="row">
        <div class="col-4">
          <div class="pokemon">
            pokemon 1
          </div>
          <div class="fw-bold text-center"> (Switch) 1</div>
        </div>

        <div class="col-4">
          <div class="pokemon">
            pokemon 2
          </div>
          <div class="fw-bold text-center"> (Switch) 2</div>
        </div>

        <div class="col-4">
          <div class="pokemon">
            pokemon 3
          </div>
          <div class="fw-bold text-center"> (Switch) 3</div>
        </div>
      </div>

    </div>

    <div class="col-6">
      <h2 class="text-center bg-primary text-white p-2">Player 2</h2>

      <div class="active-pokemon" id="player2-active-pokemon"></div>
      <div class="attack-text">P to attack!</div>

      <div class="row">
        <div class="col-4">
          <div class="pokemon">
            pokemon 1
          </div>
          <div class="fw-bold text-center"> (Switch) 8</div>
        </div>

        <div class="col-4">
          <div class="pokemon">
            pokemon 2
          </div>
          <div class="fw-bold text-center"> (Switch) 9</div>
        </div>

        <div class="col-4">
          <div class="pokemon">
            pokemon 3
          </div>
          <div class="fw-bold text-center"> (Switch) 0</div>
        </div>
      </div>

    </div>

  </div> <!-- ./row.vh-100 -->
</div> <!-- ./container -->
