.active-pokemon {
  border: 1px solid gray;
  width: 300px;
  margin: 2rem auto 0;
  aspect-ratio: 1 / 1;
  background-color: white;
}

.pokemon {
  aspect-ratio: 1 / 1;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
