<div class="welcome-wrapper">
  <div class="welcome">
    <h1 class="mb-3 text-center">Welcome to The Arena!</h1>
    <p>Two players shall battle to prove which is the better pokemon trainer.</p>
    <p>Or rather who has the fastest fingers.</p>
    <p>Are you ready???</p>

    <a class="btn btn-primary" href="/game/new">Choose PokeMon!</a>
  </div>
</div>
